<div class="d-flex mt-3">
    <div class="w-50">
        <h3 class="text-center my-3 mb-4">Add Todos</h3>
        <app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>
    </div>

    <div class="text-white bg-dark rounded-4 px-4 w-50">
        <h3 class="text-center my-3 mb-4">Your Tasks</h3>
        <!--Displaying message about todos being null-->
        <div *ngIf="this.todos.length === 0 else elseBlock"><div class="text-center">  You Are Upto Your Tasks.</div></div>

        <ng-template #elseBlock>
            <div *ngFor="let todo of todos">
                <app-todo-item [todo]="todo" (todoDelete)="deleteTodo($event)" (todoCheckbox)="toggleTodo($event)">
                </app-todo-item>
            </div>
        </ng-template>
    </div>
</div>