<div class="my-3 text-white border-white d-flex flex-wrap">
    <div class="w-50">
        <h4 [ngClass]="{'strike': !todo.active}">{{todo.title}}</h4>
        <p>{{todo.desc}}</p>
        <button (click)="onClick(todo)" class="btn btn-sm btn-danger">Delete</button>
    </div>
    <div class="w-50 form-group form-check">
     
            <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="onCheckboxClick(todo)" [checked]="!todo.active">
            <label class="form-check-label" for="exampleCheck1">Done</label>
        
    </div>
</div>